<div class="row">
  <div class="col-xs-4">
    <img src={{comment.image}} class="comment-avatar">
    <br>
    {{comment.name}}
  </div>
  <div class="col-xs-8">
    "{{comment.message}}"
    {{update-comment comment=comment updateComment="updateComment"}}
    <button class="delete-comment" {{action 'deleteComment' comment}}>Delete Comment</button>
  </div>
</div>
