<img src={{post.image}}>
<h1>{{post.title}}</h1>
<h2>{{post.day}}</h2>
<p>{{post.body}}</p>

<button {{action 'deletePost' post}}>Delete This Post</button>

{{update-post post=post updatePost="updatePost"}}
