<div class="row">
  <div class="col-xs-4 detail-image-box">
    <img class="detail-image" src={{post.image}}>
  </div>

  <div class="col-xs-8 detail-content">
    <h1>{{post.title}}</h1>
    <h2>{{post.day}}</h2>
    <p class="detail-body">{{post.body}}</p>
  </div>

</div>

<div class="modify-buttons">

  {{update-post post=post updatePost="updatePost"}}

  <button {{action 'deletePost' post}} class="delete-button">Delete This Post</button>

</div>

<div class="all-comments-box">
  <h2>Comments on This Post</h2>

  {{#if post.comments}}

  {{#each post.comments as |comment|}}
    <div class="single-comment">
        {{comment-tile comment=comment deleteComment="deleteComment" updateComment="updateComment"}}
    </div>
  {{/each}}

  {{else}}

  <p>No comments posted yet. Add one below!</p>

  {{/if}}
</div>

{{new-comment saveComment="saveComment" post=post}}
