{{#if updatePostForm}}
<h3>Update This Post</h3>

<form>
  <div class="form-group">
    <label for="title">Post Title:</label>
    {{input value=title id="title" placeholder=post.title}}
  </div>

  <div class="form-group">
    <label for="day">Day Number:</label>
    {{input value=day id="day" placeholder=post.day}}
  </div>

  <div class="form-group">
    <label for="image">Image URL:</label>
    {{input value=image id="image" placeholder=post.image}}
  </div>

  <div class="form-group">
    <label for="body">Write Blog Post Here:</label>
    {{textarea value=body id="body" placeholder=post.body}}
  </div>
  <button {{action 'updatePost' post}}>Save</button>
</form>
{{else}}
  <button {{action 'updatePostForm'}}>Update This Post</button>
{{/if}}
