{{#if updateCommentForm}}
<h2>Update This Comment:</h2>

<form>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label class="new-post-field" for="name">Your Name:</label>
      </div>

      <div class="col-xs-6">
        {{input class="new-post-field" value=name id="author" placeholder=comment.name}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label class="new-post-field" for="image">Avatar URL:</label>
      </div>

      <div class="col-xs-6">
        {{input class="new-post-field" value=image id="image" placeholder=comment.image}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
        <label class="new-post-field" for="message">Message:</label>
        <br>
        {{textarea class="new-post-body" value=message id="message" placeholder=comment.message}}
    </div>
  </div>

  <button class="update-comment" {{action 'updateComment' comment}}>Save Changes</button>
</form>
{{else}}
  <button class="update-comment" {{action 'updateCommentForm'}}>Update Comment</button>
{{/if}}
